src/Play.Catalog.Service/bin/
src/Play.Catalog.Service/obj/
src/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.deps.json
src/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.dll
src/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.exe
src/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.pdb
src/Play.Catalog.Service/obj/Debug/net10.0/apphost.exe
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfo.cs
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfoInputs.cache
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.csproj.CoreCompileInputs.cache
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.csproj.FileListAbsolute.txt
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.dll
src/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.pdb
src/Play.Catalog.Service/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
src/Play.Catalog.Service/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
src/Play.Catalog.Service/obj/Debug/net10.0/rpswa.dswa.cache.json
src/Play.Catalog.Service/obj/Debug/net10.0/ref/Play.Catalog.Service.dll
src/Play.Catalog.Service/obj/Debug/net10.0/refint/Play.Catalog.Service.dll
