Play.Catalog/Play.Catalog.Service/bin/
Play.Catalog/Play.Catalog.Service/obj/
Play.Catalog/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.deps.json
Play.Catalog/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.dll
Play.Catalog/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.exe
Play.Catalog/Play.Catalog.Service/bin/Debug/net10.0/Play.Catalog.Service.pdb
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/apphost.exe
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfo.cs
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfoInputs.cache
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.csproj.CoreCompileInputs.cache
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.csproj.FileListAbsolute.txt
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.dll
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/Play.Catalog.Service.pdb
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/rpswa.dswa.cache.json
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/ref/Play.Catalog.Service.dll
Play.Catalog/Play.Catalog.Service/obj/Debug/net10.0/refint/Play.Catalog.Service.dll

Play.Inventory/Play.Inventory.Service/bin
Play.Inventory/Play.Inventory.Service/obj

Play.Common/Play.Common/bin/
Play.Common/Play.Common/obj/
Play.Common/Play.Common/obj/Debug/net10.0/Play.Common.AssemblyInfoInputs.cache
Play.Common/Play.Common/obj/Debug/net10.0/Play.Common.assets.cache
Play.Common/Play.Common/obj/Debug/net10.0/Play.Common.AssemblyInfo.cs
Play.Common/Play.Common/obj/project.nuget.cache
Play.Common/Play.Common/obj/project.assets.json
Play.Common/Play.Common/obj/Play.Common.csproj.nuget.g.targets
Play.Common/Play.Common/obj/Play.Common.csproj.nuget.dgspec.json

Play.Catalog/Play.Catalog.Contracts/bin/
Play.Catalog/Play.Catalog.Contracts/obj/