/bin/
/obj/
/bin/Debug/net10.0/Play.Catalog.Service.deps.json
/bin/Debug/net10.0/Play.Catalog.Service.dll
/bin/Debug/net10.0/Play.Catalog.Service.exe
/bin/Debug/net10.0/Play.Catalog.Service.pdb
/obj/Debug/net10.0/apphost.exe
/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfo.cs
/obj/Debug/net10.0/Play.Catalog.Service.AssemblyInfoInputs.cache
/obj/Debug/net10.0/Play.Catalog.Service.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0/Play.Catalog.Service.csproj.FileListAbsolute.txt
/obj/Debug/net10.0/Play.Catalog.Service.dll
/obj/Debug/net10.0/Play.Catalog.Service.pdb
/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/obj/Debug/net10.0/rpswa.dswa.cache.json
/obj/Debug/net10.0/ref/Play.Catalog.Service.dll
/obj/Debug/net10.0/refint/Play.Catalog.Service.dll
